
		<div id="body">
			<div id="figure">
				<img src="images/headline-home.jpg" alt="Image">
				<span id="home">Chetco Coffee Roasters.  Discover coffee again. <a href="index.html">Find out why.</a></span>
			</div>

			<home-blog></home-blog>

		</div>
		<div id="footer">
			<div>
				<a href="index.html"><img src="images/logo2.jpg" alt="Image"></a>
				<p class="footnote">
					&copy; Chetco Coffee Roasters.<br>All Rights Reserved.
				</p>
			</div>
			<div class="section">
				<home-navbar></home-navbar>
				<home-connect></home-connect>
			</div>
		</div>
