<section id="index">
	<section id="figure">
		<img src="images/headline-menu.jpg" alt="Image">
		<span>Roasting the best... ever.</span>
	</section>
	<div>
		<a href="menu.html" class="whatshot">What&#39;s Hot</a>
		<section id="menu-list">
			<ul>
				<li class="menu-item" ng-repeat="product in products">
					<img ng-src={{product.image}}>
					<div>
						<a href="">{{product.name}}</a>
						<p>
							{{product.price|currency}}
						</p>
					</div>
				</li>
			</ul>
		</section>
	</div>
</section>