
Locations serving our coffee

<div class="locations" id="oregon">
    <img class="location-map" ng-src="https://maps.googleapis.com/maps/api/staticmap?center=Brookings,OR&size=400x400&key=AIzaSyBSPnNJHEAwPZ6MpmP35KhlVW5ft9l_mnw
    &markers=label:A%7Ccolor:red%7C1009+Chetco+Ave,Brookings,OR
    &markers=label:B%7C97895+Shopping+Center+Ave,Brookings,OR
    &markers=label:C%7C15657+Highway+101,Brookings,OR">
    
    <h3>Find us in Oregon</h3>
    <ul>
        <li>A: The Vista Pub<br>
            <address>1009 Chetco Ave, Brookings</address></li>
        <li>B: Farmers Market : Wednesdays (Grange)</li>
        <li>C: Smokehouse on 101</li>
    </ul>
</div>

<div class="locations" id="colifornia">
    <h3>Find us in California</h3>
    <ul>
        <li>Alisas Custom Coffee (By the cup)</li>
        <li>Wild Rivers Market</li>
    </ul>
</div>