<ul>
	<li ng-class="{current:homeCtrl.navIsSelected('index')}">
		<a href ng-click="homeCtrl.navSetSelected('index')">Home</a>
	</li>
	<li ng-class="{current:homeCtrl.navIsSelected('menu')}">
		<a href ng-click="homeCtrl.navSetSelected('menu')">Products</a>
	</li>
	<li ng-class="{current:homeCtrl.navIsSelected('location')}">
		<a href ng-click="homeCtrl.navSetSelected('location')">Locations</a>
	</li>
	<li>
		<a href="about.html">About</a>
	</li>
	<li>
		<a href="signin.html">Login / Signup</a>
	</li>
</ul>