
<div class="locations" id="oregon">
    <img class="location-map" ng-src="https://maps.googleapis.com/maps/api/staticmap?center=Brookings,OR&size=400x400&key=AIzaSyBSPnNJHEAwPZ6MpmP35KhlVW5ft9l_mnw
    &markers=label:A%7Ccolor:red%7C1009+Chetco+Ave,Brookings,OR
    &markers=label:B%7C97895+Shopping+Center+Ave,Brookings,OR
    &markers=label:C%7C15657+Highway+101,Brookings,OR">
    
<table class="locations">
    <caption>Find us in Oregon</caption>
   <tr>
      <th>Location</th>
      <th>Address</th>
      <th><img src="images/coffee1.jpg"></th>
      <th><img src="images/coffeebag.jpg"></th>
  </tr>
  <tr>
      <td>A: The Vista Pub</td>
      <td><address>1009 Chetco Ave, Brookings</address></td>
      <td>Yes</td>
      <td>Yes</td>
  </tr>
  
  <tr>
      <td>B: Farmers Market: Wednesdays</td>
      <td><address>97895 Shopping Center Ave, Brookings</address></td>
      <td>Yes</td>
      <td>Yes</td>
  </tr>
  
  <tr>
      <td>C: Smokehouse on 101</td>
      <td><address>15675 Highway 101, Brookings</address></td>
      <td>No</td>
      <td>Yes</td>
  </tr>
</table>

</div>

<div class="locations" id="colifornia">
    <h3>Find us in California</h3>
    <ul>
        <li>Alisas Custom Coffee (By the cup)</li>
        <li>Wild Rivers Market</li>
    </ul>
</div>