.location-map
{
    clear: right;
    clear: left;
    float: right;
    width: 40%;
}

div.locations
{
    height: 400px;
    margin: 30px;
}

div ul
{
    list-style: none;
}

table.locations
{
    width: 55%;
    border: 1px solid;
    background-color: #F0D197;
}

table.locations td
{
    border: 1px solid #2D281D;
}
table tr img
{
   width: 32px;
   margin: 1px;
}

table.locations td.business
{
    width: 35%;
}