// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#menu-list
{
	background-color: #D5B084;
}

.menu-item
{
	float: left;
	width: 25%;
	list-style: none;
	background-color: #D5B084;
}

footer
{
	clear: left;
}