// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#menu-section
{
	//background-color: #D5B084;
}

#menu-list
{
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	padding: 0px;
}
.menu-item
{
	float: left;
	width: 100%;
	list-style: none;
    padding-bottom: 10px;
	//background-color: #D5B084;
}

.menu-img
{
	float: left;
	width: 25%;
}

.menu-item p
{
	text-align: center;
}

.menu-item h4
{
	text-align: center;
	font-family: UltraRegular;
	color: #F9B94B;
	text-shadow: 1px 5px #824622;
	background-color: #D5B084;
	margin-top: 0px;
	padding-bottom: 10px;
}

.add-to-cart
{
	float: left;
	clear: left;
	width: 25%;
}

footer
{
	clear: left;
}